<header class="main-header">
  <!-- Logo -->
  <a href="<%= root_url %>" class="logo">
    <!-- mini logo for sidebar mini 50x50 pixels -->
    <span class="logo-mini">
      <b>F</b>Circle</span>
    <!-- logo for regular state and mobile devices -->
    <span class="logo-lg">
      <b>First Circle</b>
    </span>
  </a>
  <!-- Header Navbar: style can be found in header.less -->
  <nav class="navbar navbar-static-top">

  </nav>
</header>
<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu">
      <li class="header">MAIN NAVIGATION</li>
      <li>
        <a href="<%= new_order_path %>">
          <i class="fa fa-shopping-cart"></i>
          <span>New Order</span>
        </a>
      </li>
    </ul>
  </section>
  <!-- /.sidebar -->
</aside>
